<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <form th:method="patch" th:action="@{/admin/{username}(username=${user.getUsername()})}" th:object="${user}">
    <label>Username can not be chanced</label>

    <br><br>

    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br><br>

    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br><br>

    <input type="submit" value="Submit"/>
  </form>

</body>
</html>