<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
        crossorigin="anonymous">
</head>
<body>

  <form th:method="patch" th:action="@{/admin/{username}(username=${user.getUsername()})}" th:object="${user}">

    <input type="hidden" th:field="*{id}" th:value="${user.getId()}"/>
    <br><br>

    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br><br>

    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br><br>

    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br><br>

    <label for="isAdmin">Make Admin</label><br><br>
    <input type="checkbox" th:field="*{isAdmin}" id="isAdmin" value="true">
    <br>

    <input type="submit" value="Submit"/>
  </form>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>