<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<h3>All users list</h3>
<br>

<table class="table">
    <caption>
        Users
    </caption>
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Username
            </th>
            <th>
                Age
            </th>
            <th>
                Admin
            </th>
            <th style="color:blue">
                Update
            </th>
            <th style="color:red">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        <div th:each="user : ${allUsers}">
            <tr>
                <td
                       th:text="|${user.getId()}|"/>
                <td>
                    <a th:href="@{/admin/{username}(username=${user.getUsername()})}"
                    th:text="|${user.getUsername()}|"/>
                </td>
                <td
                    th:text="|${user.getAge()}|"/>
                <td
                        th:text="|${user.getIsAdmin()}|"/>
                <td>
                    <form th:method="get" th:action="@{/admin/{username}/update(username=${user.getUsername()})}">
                        <input type="submit" value="Update user"/>
                    </form>
                </td>
                <td th:if="${user.getUsername() != 'MainAdmin' && user.getId() != currentUser.getId()}">
                    <form th:method="delete" th:action="@{/admin/{username}(username=${user.getUsername()})}">
                        <input type="submit" value="Delete user"/>
                    </form>
                </td>
            </tr>
        </div>
    </tbody>
</table>
<br>

<form th:method="get" th:action="@{/admin/addNew}">
    <input type="submit" value="Add new user"/>
</form>
<br>
<br>

<form th:method="get" th:action="@{/user}">
    <input type="submit" value="My profile"/>
</form>

<form th:method="get" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>